.why-us-section {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../../assets/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.box {
    padding: 20px 30px;
    margin: 15px 0;
    text-align: center;
    border: 2px solid #ffc107;
    border-radius: 15px;
}

.box-desc {
    font-size: 14px;
}

.icon {
    font-size: 50px;
    color: #ffc107;
}


@media (max-width: 991.98px) {
    .box {
        padding: 20px;
    }
}
