/* Section CSS */
.section {
    padding: 80px 0;
}

.section-title {
    position: relative;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.section-title::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 5px;
    background: #ffc107;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.section-title-left {
    position: relative;
    font-weight: bold;
    font-size: 40px;
}

.section-title-left::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 5px;
    background: #ffc107;
    bottom: -10px;
    left: 0;
}

/* Primary Button CSS */
.primary-btn {
    display: inline-block;
    transition: 0.3s ease;
    background: #ffc107;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}

.primary-btn:hover {
    background: #1a1a1a;
    color: #fff !important;
}

/* Form CSS */
.form-wrapper {
    padding: 70px 0;
}

.form {
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
}

.form input {
    border: 1px solid #c1c1c1;
}

.divider {
    position: relative;
    margin-top: 10px;
}

.divider::before{
    position: absolute;
    content: '';
    width: 30%;
    height: 1px;
    top:50%;
    right: 60%;
    background: #959595;
}

.divider::after{
    position: absolute;
    content: '';
    width: 30%;
    height: 1px;
    top:50%;
    left: 60%;
    background: #959595;
}

/* Pay Button CSS */
.pay-btn:hover {
    background: #1a1a1a !important;
    color: #fff !important;
}

/* Responsive CSS */
@media (max-width: 575.98px) {
    .section {
        padding: 50px 0;
    }
    .section-title-left {
        text-align: center;
        font-size: 30px;
    }
    .section-title-left::after {
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
    }
    .section-title {
        text-align: center;
        font-size: 30px;
    }
    .section-title::after {
        width: 50px;
    }
}