.section {
    padding: 80px 0;
}

.section-title {
    position: relative;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.section-title::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 5px;
    background: #ffc107;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.section-title-left {
    position: relative;
    font-weight: bold;
    font-size: 40px;
}

.section-title-left::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 5px;
    background: #ffc107;
    bottom: -10px;
    left: 0;
}

.primary-btn {
    display: inline-block;
    transition: 0.3s ease;
    background: #ffc107;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}

.primary-btn:hover {
    background: #1a1a1a;
    color: #fff !important;
}


/* Responsive CSS */
@media (max-width: 575.98px) {
    .section {
        padding: 50px 0;
    }
    .section-title-left {
        text-align: center;
        font-size: 30px;
    }
    .section-title-left::after {
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
    }
    .section-title {
        text-align: center;
        font-size: 30px;
    }
    .section-title::after {
        width: 50px;
    }
}